<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.mapper.StudentMapper">
    <!--    <select id="getList" resultType="Student">-->
    <!--        select * from student;-->
    <!--    </select>-->

    <!--    <select id="getStudentById" resultType="Student">-->
    <!--        select * from student where id = #{id};-->
    <!--    </select>-->

    <!--    <insert id="add" parameterType="Student">-->
    <!--            insert into Student(name,sex,address,birthday) values(#{name},#{sex},#{address},#{birthday});-->
    <!--        </insert>-->

    <!--    为什么这里不能用'%#{name}%'-->
    <!--    select * from student where name like concat('%',#{name},'%');-->
    <!--    select * from student where name like '%${name}%';-->
    <!--    sql注入-->
    <!--    <select id="getListByName" parameterType="java.lang.String" resultType="Student">-->
    <!--        select * from student where name like concat('%',#{name},'%');-->
    <!--    </select>-->

    <update id="updateById" parameterType="Student">
        update student
        <set>
            <if test="student.name != null">name =#{student.name},</if>
            <if test="student.address != null">address=#{student.address},</if>
            <if test="student.sex != null">sex=#{student.sex},</if>
            <if test="student.birthday != null">birthday=#{student.birthday}</if>
        </set>
        where id = #{student.id};
    </update>

    <!--    <update id="updateByMap" parameterType="map">-->
    <!--        update student set name = #{name},address= #{address} where id = #{id};-->
    <!--    </update>-->

    <!--    动态sql-->
    <select id="getListByQuery" parameterType="map" resultType="Student">
        select * from student
        <trim prefix="where" suffixOverrides="and">
            <if test="name != null">
                name like concat('%'#{name}'%') and
            </if>
            <if test="address != null">
                address like concat('%'#{address}'%');
            </if>
        </trim>
    </select>

    <select id="getListByAddress" parameterType="list" resultType="Student">
        select * from student where address in
        <foreach collection="list" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ;
    </select>


    <insert id="add" parameterType="list">
        insert into student(name,sex,address,birthday) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.name},
            #{item.sex},
            #{item.address},
            #{item.birthday}
            )
        </foreach>
    </insert>
</mapper>